<ion-view view-title="Inicio">
  <ion-content>

    <div class="list">
    <div class="important">
    	<a class="item item-icon-left" href="#" >
    <i class="icon ion-clipboard"></i>
    Tareas
    <p>Fecha de entrega: 12/03/16</p>
  </a>
    </div>
  
<div class="on-time">
	<a class="item item-icon-left " href="#">
   	<i class="icon ion-person-stalker"></i>
    	Eventos
  	</a>
</div>

<div class="out-time">
	<a class="item item-icon-left" href="#">
    	<i class="icon ion-ios-cart"></i>
    	Compras
    	<span class="item-note">
     Grammy
    </span>
  	</a>
</div>

</div>
  </ion-content>
</ion-view>
