<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Tasks Tab -->
  <ion-tab title="Tareas" icon-off="ion-document" icon-on="ion-document-text" href="#/tabs/task">
    <ion-nav-view name="tab-task"></ion-nav-view>
  </ion-tab>

  <!-- Events Tab -->
  <ion-tab title="Eventos" icon-off="ion-person" icon-on="ion-person-stalker" href="#/tabs/event">
    <ion-nav-view name="tab-event"></ion-nav-view>
  </ion-tab>

  <!-- Market Tab -->
  <ion-tab title="Compras" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tabs/market">
    <ion-nav-view name="tab-market"></ion-nav-view>
  </ion-tab>


</ion-tabs>
