<ion-view title="Tareas">
	<ion-content>
		 <ion-list class="list">
			 <ion-item href="#" ng-repeat="task in tasks" ng-click="showDetails(task)">
				 <div class="">
					 <a class="item item-icon-left" href="#" >
						 <i class="ion-document-text"></i>
						 Tarea: {{task.name}} <br><span>Fecha de entrega: {{task.endDate | date}}</span>
						 <div>
						 	<p class="item-note">
				     			
				    			</p>
						 </div>
						<p>Materia: {{task.materia}}</p>
					 </a>
				 </div>
			 </ion-item>
		 </ion-list>

		
	</ion-content>
</ion-view>